# Environnement virtuel
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.pytest_cache/
.mypy_cache/

# Jupyter
.ipynb_checkpoints/

# Variables d'environnement
.env
.env.*

# VS Code
.vscode/

# Streamlit
.streamlit/secrets.toml

# dbt
target/
dbt_packages/
logs/

# DuckDB
*.duckdb
*.db
*.wal

# Fichiers temporaires
.DS_Store
Thumbs.db

# Couverture de tests
.coverage
htmlcov/

# Packaging
build/
dist/
*.egg-info/

*.duckdb
airbnb_analytics/seeds/*.csv

